# Question 1

In [2]:
name=input("Enter the name: ")
roll_no=int(input("Enter the roll no: "))
mark=float(input("Enter the mark: "))
print("Name: ",name)
print('Roll no: ',roll_no)
print('Mark: ',mark)

Enter the name: Anakha
Enter the roll no: 12
Enter the mark: 45
Name:  Anakha
Roll no:  12
Mark:  45.0

# Question 2

In [34]:
c=float(input('Enter the temperature in celcius'))
f=(c*1.8)+32
print('temperature in fahrenheit is:',f)

Enter the temperature in celcius12
temperature in fahrenheit is: 53.6

In [37]:
f1=float(input('Enter the temperature in fahrenheit'))
c1=(f1-32)/1.8
print(f1, 'temperature in fahrenheit is converted to celcius temperature',c1)

Enter the temperature in fahrenheit300
300.0 temperature in fahrenheit is converted to celcius temperature 148.88888888888889

# Question 3

In [38]:
n1=int(input('Enter a number: '))

Enter a number12

In [39]:
n2=int(input('Enter one number: '))

Enter one number: 2

In [47]:
n3=n1*n2
print('product',n3)

product 24

# Question 4

In [ ]:
a=input("Enter the statement")

# Question 5

In [1]:
radius=int(input('Enter the radius of circle in cm'))
area=3.14*radius*radius
print('area of the circle is ',area,'cm')

Enter the radius of circle in cm2
area of the circle is  12.56 cm

# Question 6

In [2]:
list2=list((1,2,2,'cat','horse',True))
n=int(input('enter the element to be inserted in the list '))
k=int(input('enter the position '))
list2.insert(k,n)

enter the element to be inserted in the list9
enter the position1

In [3]:
list2

[1, 9, 2, 2, 'cat', 'horse', True]

# Question7

In [4]:
sample_dict={"name":"John","age":5,"salary":8000,"city":"newYork"}
print(sample_dict)
n=input("Enter new city:")
sample_dict["city"]=n
print(sample_dict)

Enter new city:san jose
{'name': 'John', 'age': 5, 'salary': 8000, 'city': 'san jose'}

# Question8

# Question 9

In [28]:
tuple1=(10,20,43,54,56,68)

In [32]:
tuple2=tuple1[2],tuple1[3]
tuple2

(43, 54)

# Question 10

In [3]:
tuple1=(50,10,60,70,83,567,50,81)

In [4]:
type(tuple1)

tuple

In [6]:
n=tuple1.count(50)

In [8]:
print("The count of 50 in the tuple is", n)

The count of 50 in the tuple is 2